[Unit]
Description=Start entrypoint script
After=network.target

[Service]
ExecStart=/usr/local/bin/entrypoint.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
